<h1>Preguntas Frecuentes:</h1>
<div class="container">

  <h3>Mediante nuestro apartado, preguntas y respuestas, conocerás todo lo necesario respecto a la nueva ley de tramitación electrónica, a fin de poder subir tus escritos al portal del Poder Judicial para que sea resuelto por un Juez. Asimismo, incluimos algunas preguntas y respuestas respecto de la Ley de Familia, normativa referente al procedimiento laboral y al procedimiento civil.</h3>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"> ¿A qué tribunal se aplica la ley Nº 20886 ?</div>
        <div class="card-body">
          <p class="card-text">De acuerdo al artículo 1º de la Ley 20.886, se aplicará a todas las causas que conozcan los tribunales indicados en los incisos segundo y tercero del artículo 5º del Código Orgánico de Tribunales, con excepción de las causas que conozcan los tribunales militares en tiempo de paz. Es decir, Corte Suprema, Cortes de Apelaciones, los Presidentes y Ministros de Corte, Juzgados de Letras, Juzgados de Garantía, Tribunales de Juicio Oral en lo Penal, Juzgados de Familia, Juzgados de Letras del Trabajo y Juzgados de Cobranza Previsional. Entre los Juzgados de Letras, se entienden incorporados los Juzgados Civiles.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-3">
      <div class="card">
        <div class="card-header"> ¿A qué causas se aplica la ley Nº 20886 ?</div>
        <div class="card-body">
          <p class="card-text">Las disposiciones de esta ley sólo se aplicarán a las causas iniciadas con posterioridad a su entrada en vigencia. Las causas se entenderán iniciadas desde la fecha de presentación de la demanda o medida prejudicial, según corresponda.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"> ¿Qué beneficios tiene la ley Nº 20886 ?</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              <li>Mejora y facilita el acceso a la justicia.</li>
              <li>Contribuye a la preservación del Medio Ambiente, con un importante ahorro en el uso de papel y tinta.</li>
              <li>Disminuye los costos de la litigación para todos los involucrados.</li>
              <li>Permite ahorrar tiempo al no tener que trasladarse al tribunal para cada trámite.</li>
              <li>Aumentan los estándares de seguridad, transparencia y disponibilidad de las causas. La carpeta electrónica se puede ver desde cualquier parte y en todo momento, sin el riesgo que se pierda o se dañe.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-3">
      <div class="card">
        <div class="card-header"> ¿Qué es la Oficina Judicial Virtual?</div>
        <div class="card-body">
          <p class="card-text">La Oficina Judicial Virtual es el mecanismo de acceso para tramitar electrónicamente en los sistemas informáticos del Poder Judicial. Esta compuesta por un conjunto de servicios que se entregarán a los usuarios y se puede acceder a ella desde el portal de internet del Poder Judicial, www.pjud.cl .</p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
